h1 {
    color: fuchsia;
}

.pokemons {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    border: 1px solid fuchsia;
    padding: 10px;
    border-radius: 10px;
    color: rgb(252, 162, 162);
    font-family: helvetica;
    text-align: center
}